div[data-role="header"] img {
    height: 1em;
    width: auto;
}
.blocco-immagine {
    background-color: white;
}
.contenitore-immagine {
    height: 300px;
    text-align: center;
}
.contenitore-checkbox {
    height: 30px;
}
.copertina{
    text-align: center;
}
.testo {
    padding: 20px;
}

/* Stack all blocks to start */
.my-button-responsive > div, 
.my-gallery-responsive > div,
{ width: 100%; }

.immagine {
    max-height: 300px;
    max-width: 300px;
}

/* 16px = 1em */

@media all and (min-width: 45em) {
    .my-button-responsive > div
    {
        float: left;
        width: 20%;
    }
}

@media all and (min-width: 32em) {

    .my-gallery-responsive > div { width: 50%; float:left; }

}

@media all and (min-width: 66em){

    .my-gallery-responsive > div {float:left; width: 25%;}

}