<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <style>
            div[data-role="header"] img {
                height: 1em;
                width: auto;
            }
            .immagine {
                max-height:90%; 
                margin: auto;
                display: inline;
                padding-bottom: 0px;
            }
            .contenitore-immagine {
                height: 300px;
            }
            .copertina{
                text-align: center;
            }
            .testo {
                padding: 20px;
            }
            .ui-responsive img{
                padding-top:20px;
                width: auto;
                height: auto;
                max-width: 90%;
            }
            .ui-block-a, .ui-block-b,.ui-block-c,.ui-block-d,{
                text-align: center;
            }
            .ui-grid-c.my-responsive{
                text-align: center;
            }

            /* Stack all blocks to start */
            .ui-grid-c.my-responsive .ui-block-a,
            .ui-grid-c.my-responsive .ui-block-b,
            .ui-grid-c.my-responsive .ui-block-c,
            .ui-grid-c.my-responsive .ui-block-d,
            .stellina
            { 
                width: 100%; 
            }

            @media all and (min-width: 35em) {
                .ui-grid-c.my-responsive .ui-block-a { width: 50%;}
                .ui-grid-c.my-responsive .ui-block-b { width: 50%;}
                .ui-grid-c.my-responsive .ui-block-c { width: 50%;}
                .ui-grid-c.my-responsive .ui-block-d { width: 50%;}
                .stellina {max-width: 30%;}
                .testo {width: 100%;}
            }

            @media all and (min-width: 60em){
                .ui-grid-c.my-responsive .ui-block-a {float:left; width: 25%;}
                .ui-grid-c.my-responsive .ui-block-b {float:left;width: 25%;}
                .ui-grid-c.my-responsive .ui-block-c {float:left;width: 25%;}
                .ui-grid-c.my-responsive .ui-block-d {float:left;width: 25%;}
                .stellina {float:left; max-width: 15%;}
                .testo{width: 50%}

            }
        </style>
    </head>
    <body>
        <div data-role="page" id="home">
            <div data-role="header">
                <a href="#home" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#popupLogin" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-icon="check" data-theme="a" data-transition="pop">Login</a>
                    <div data-role="popup" id="popupMenu" data-theme="a">
                        <div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
                        <form>
                            <div style="padding:10px 20px;">
                                <h3>Please sign in</h3>
                                <label for="un" class="ui-hidden-accessible">Username:</label>
                                <input type="text" name="user" id="un" value="" placeholder="username" data-theme="a">
                                <label for="pw" class="ui-hidden-accessible">Password:</label>
                                <input type="password" name="pass" id="pw" value="" placeholder="password" data-theme="a">
                                <a href="#home2" data-role="button" data-transition="fade" data-theme="b">Login</a>
                            </div>
                         </form>
                    </div>
                </div>
            </div>
            <div data-role="content">
                <input id="the_search_filter" type="search" placeholder="Search something...">
                <div class="ui-grid-d ui-responsive">
                    <div class="ui-block-a">
                        <select id="exhibition_filter">
                            <option value="none">Exhibition</option>
                            {% for i in exhibitions -%}
                            <option value="{{i.id_exhibition}}">{{i.exhibition_name}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <select id="author_filter">
                            <option value="none">Autor</option>
                            {% for i in authors -%}
                            <option value="{{i.id_autor}}">{{i.autor_name}}</option>
                            {%- endfor %}

                        </select>
                    </div>
                    <div class="ui-block-c">
                        <select id="section_filter">
                            <option value="none">Section</option>
                            {% for i in sections -%}
                            <option value="{{i.id_section}}">{{i.section_name}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                    <div class="ui-block-d">
                        <a href="#" data-role="button" data-theme="e">Clear selections</a>
                    </div>
                    <div class="ui-block-e">
                        <a href="#insert" data-role="button" data-transition="slide" data-theme="b">I'm done</a>
                    </div>
                </div>
                {% for i in items -%}
                <div class="ui-grid-c ui-responsive my-responsive">
                    {% if i[0] %}
                    <div class="ui-block-a" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[0].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[0].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[1] %}
                    <div class="ui-block-b" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[1].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[1].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[2] %}
                    <div class="ui-block-c" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[2].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[2].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[3] %}
                    <div class="ui-block-d" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[3].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[3].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor -%}
            </div>
        </div>

        <div data-role="page" id="home2">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header" >
                <a href="#home2" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
                <input id="the_search_filter" type="search" placeholder="Search something...">
                <div class="ui-grid-d ui-responsive">
                    <div class="ui-block-a">
                        <select id="exhibition_filter">
                            <option value="none">Exhibition</option>
                            {% for i in exhibitions -%}
                            <option value="{{i.id_exhibition}}">{{i.exhibition_name}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <select id="author_filter">
                            <option value="none">Autor</option>
                            {% for i in authors -%}
                            <option value="{{i.id_autor}}">{{i.autor_name}}</option>
                            {%- endfor %}

                        </select>
                    </div>
                    <div class="ui-block-c">
                        <select id="section_filter">
                            <option value="none">Section</option>
                            {% for i in sections -%}
                            <option value="{{i.id_section}}">{{i.section_name}}</option>
                            {%- endfor %}
                        </select>
                    </div>
                    <div class="ui-block-d">
                        <a href="#" data-role="button" data-theme="e">Clear selections</a>
                    </div>
                    <div class="ui-block-e">
                        <a href="#insert" data-role="button" data-transition="slide" data-theme="b">I'm done</a>
                    </div>
                </div>
                {% for i in items -%}
                <div class="ui-grid-c ui-responsive my-responsive">
                    {% if i[0] %}
                    <div class="ui-block-a" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[0].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[0].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[1] %}
                    <div class="ui-block-b" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[1].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[1].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[2] %}
                    <div class="ui-block-c" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[2].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[2].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                    {% if i[3] %}
                    <div class="ui-block-d" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[3].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[3].object_id}}.jpg">
                            </a>
                        </div>
                        <form>
                            <label>
                                <input class="stellina" type="checkbox">Check me
                            </label>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor -%}
            </div>
        </div>

        <div data-role="page" id="info">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home2" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
                <div class="ui-grid-d ui-responsive">
                    <div class="ui-block-a">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[1].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="">
                            </a>
                        </div>
                        
                    </div>
                    <div class="ui-block-b">
                        <p><h2>Pinco Pallino</h2></p>
 
                        <p>Username:pallino_pinco</p>
                        <p>Emil:pinco@gmail.com</p>
                        <p>Telefono:3333333333</p>
                        <p>Residenza:via pallino 1 trento</p>
                        <p>Data di nascita: 1/1/1 a trento</p>
                    </div>
                    <div class="ui-block-c">
                    </div>
                    <div class="ui-block-d">
                    </div>
                    <div class="ui-block-e">
                    </div>
                    <div class="ui-block-f">
                        <a href="#edit_info" data-role="button" data-icon="edit" data-iconpos="left" data-inline="true" data-theme="b" data-transition="slide">Aggiorna informazioni</a>
                    </div>
                </div>
            </div>
        </div>


        <div data-role="page" id="edit_info">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home2"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" data-transition="fade">Tizio</a>
            </div>
            <div data-role="content">
                <div class="ui-grid-d ui-responsive">
                <div class="ui-block-a" style="width:40%">   
                <form>
                    <label for="file-1">Inserisci immagine personale</label>
                    <input type="file" data-clear-btn="false" name="file-1" id="file-1" value="">
                    <label for="text-1">Inserisci il tuo nome</label>
                    <input type="text" name="text-1" id="text-1" value="">
                    <label for="text-1">Inserisci il tuo username</label>
                    <input type="text" name="text-1" id="text-1" value="">
                    <label for="email-1">Inserisci la tua email</label>
                    <input type="email" data-clear-btn="false" name="email-1" id="email-1" value="">
                    <label for="tel-1">Inserisci il tuo numero di telefono</label>
                    <input type="tel" data-clear-btn="false" name="tel-1" id="tel-1" value="">
                    <label for="text-1">Inserisci la tua residenza</label>
                    <input type="text" name="text-1" id="text-1" value="">
                    <label for="date-1">Inserisci la tua data di nascità</label>
                    <input type="date" data-clear-btn="false" name="date-1" id="date-1" value="">
                </form>
                <a href="#info" data-role="button" data-icon="check" data-iconpos="left" data-inline="true" data-theme="b" data-transition="fade">Salva informazioni</a>
                </div>
            </div>
            </div>        
        </div>

        <div data-role="page" id="impostazioni">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home2" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
                <div class="ui-grid-d ui-responsive">
                <div class="ui-block-a" style="width:40%"> 
                <a href="#impostazioni" data-role="button" data-icon="check" data-iconpos="left" data-inline="true" data-theme="b">Invia email di conferma account</a>
                <p><h1></h1></p> 
                <form>
                    <label for="password-1">Inserisci la vecchia password</label>
                    <input type="password" data-clear-btn="false" name="password-1" id="password-1" value="" autocomplete="off">
                    <label for="password-1">Inserisci la nuova password</label>
                    <input type="password" data-clear-btn="false" name="password-1" id="password-1" value="" autocomplete="off">
                    <label for="password-1">Conferma la nuova password</label>
                    <input type="password" data-clear-btn="false" name="password-1" id="password-1" value="" autocomplete="off">
                </form>
                <a href="#impostazioni" data-role="button" data-icon="edit" data-iconpos="left" data-inline="true" data-theme="b">Modifica Password</a>
                </div>
            </div>        
        </div>
        </div>

        <div data-role="page" id="photobook">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home2" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
            <div class="ui-grid-c ui-responsive my-responsive">
                    {% if i[0] %}
                    <div class="ui-block-a" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[0].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[0].object_id}}.jpg">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if i[1] %}
                    <div class="ui-block-b" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[1].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[1].object_id}}.jpg">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if i[2] %}
                    <div class="ui-block-c" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[2].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[2].object_id}}.jpg">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if i[3] %}
                    <div class="ui-block-d" data-theme="c">
                        <div class="contenitore-immagine" data-theme="a">
                            <a href="/object/{{i[3].object_id}}" data-transition="slide" data-inline="true">
                                <img class="immagine" src="/static/photos/{{i[3].object_id}}.jpg">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor -%}
                <a href="#edit_photobook" data-role="button" data-icon="edit" data-iconpos="left" data-inline="true" data-theme="b" data-transition="slide">Modifica Photobook</a>
            </div>
        </div>


        <div data-role="page" id="edit_photobook">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home2" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
                <div class="ui-grid-d ui-responsive">
                <div class="ui-block-a" style="width:40%"> 
                <form>
                    <label for="file-1">Inserisci foto personale</label>
                    <input type="file" data-clear-btn="false" name="file-1" id="file-1" value="">
                    <a href="#edit_photobook" data-role="button" data-icon="plus" data-inline="true" data-rel="popup" data-position-to="window" data-theme="b">Carica foto personale</a>
                    <a href="#edit_photobook" data-role="button" data-icon="edit" data-iconpos="left" data-inline="true" data-theme="b">Elimina foto dal Photobook</a>
                    <a href="#edit_photobook" data-role="button" data-icon="edit" data-iconpos="left" data-inline="true" data-theme="b">Aggiungi foto alPhotobook</a>
                    <a href="#photobook" data-role="button" data-icon="check" data-iconpos="left" data-inline="true" data-theme="b">Salva il tuo Photobook</a>
                </form>
                </div>
                </div>
            </div>
        </div>

        
        <div data-role="page" id="insert">
            <div data-role="panel" id="panel" data-position="right" data-display="overlay" data-theme="a">
                <ul data-role="listview" data-inset="false" data-theme="a">
                    <li><a href="#info" data-transition="slide">Informazioni Personali</a></li>
                    <li><a href="#photobook" data-transition="slide">Photobook</a></li>
                    <li><a href="#impostazioni" data-transition="slide">Impostazioni</a></li>
                    <li><a href="#home" data-transition="fade">Logout</a></li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#home" data-transition="fade"><img src="/static/img/museum.png"></a>
                <h1>aMuse - The Muse Experience</h1>
                <a href="#panel" data-position-to="window" data-role="button" data-inline="true" data-icon="bars" data-theme="a" >Tizio</a>
            </div>
            <div data-role="content">
                <div class="ui-grid-d ui-responsive">
                <div class="ui-block-a" style="width:40%"> 
                <form id="submit_form">
                    <div >
                        <label for="email-1">Insert your e-mail</label>
                        <input type="email" data-clear-btn="true" name="email-1" id="email-1" value="">
                    </div>
                    <div>
                        <label for="email-2">Confirm your e-mail</label>
                        <input type="email" data-clear-btn="true" name="email-2" id="email-2" value="">
                    </div>
                    <div>
                        <button type="button" id="submit_button" data-role="button" data-theme="b">Submit</button>
                    </div>
                </form>
                </div>
                </div>
            </div><!-- /content -->
        </div>
        <div data-role="page" id="ok">
            <div data-role="content">
                <h2 >Sending e-mail confirmed!</h2>
                <p><a href="#home" data-role="button" data-transition="flip" data-theme="b">Home</a></p>
            </div><!-- /content -->
        </div>
        <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
        <script type="text/javascript">
        $(function(){
            $('#submit_button').click(function(e) {
                var email = $('#email-1').val();
                if($('#email-2').val() == email && email) {
                    $.get('/signup/' + email, function(data) {
                        if(data == 'success') $.mobile.changePage('#ok', {
                            role: 'dialog',
                            transition: 'flip'
                        });
                        else alert('Error');
                    });
                } else {
                    alert('The two emails do not match');
                }
            });
            $('#the_search_filter').change(function() {
                var val = $(this).val();
                $.mobile.changePage(val == '' ? '/' : ('/search-' + val), {
                    transition: 'slide'
                });
            });
            $('#exhibition_filter').change(function() {
                var val = $(this).val();
                $.mobile.changePage(val == 'none' ? '/' : ('/exhibition-' + val), {
                    transition: 'slide'
                });
            });
            $('#author_filter').change(function() {
                var val = $(this).val();
                $.mobile.changePage(val == 'none' ? '/' : ('/author-' + val), {
                    transition: 'slide'
                });
            });
            $('#section_filter').change(function() {
                var val = $(this).val();
                $.mobile.changePage(val == 'none' ? '/' : ('/section-' + val), {
                    transition: 'slide'
                });
            });
        });
        </script>
    </body>
</html>