<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/css.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="/static/js/jquery.cookie.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
        <script src="/static/js/kiosk.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <a href="/" data-icon="back" data-iconpos="left" data-transition="slide" data-direction="reverse">Back</a>
                <h1>aMuse - Share your experience</h1>
            </div>
            <div data-role="content">
                {% if redirect %}
                <div class="ui-body ui-body-c">
                    <h2>The operation was successful</h2>
                    <ul>
                        <li>
                            If you are a new user please to check your email: we just sent you a password and a link to access your new photobook
                        </li>
                        <li>
                            If you already had an account the new bookmarks were merged with the ones in your photobook.
                        </li>
                    </ul>
                    Thank you for using aMuse!
                </div>
                {% else %}
                {% if message %}
                <h2>{{message}}</h2>
                {% endif %}
                <form action="/signup" method="post" data-ajax="false">
                    <ul data-role="listview">
                        <li data-role="fieldcontain">
                            <label for="email-1">E-mail:</label>
                            <input type="email" data-clear-btn="true" name="email_1" id="email-1" value="">
                        </li>
                        <li data-role="fieldcontain">
                            <label for="email-2">E-mail confirmation:</label>
                            <input type="email" data-clear-btn="true" name="email_2" id="email-2" value="">
                        </li>
                        <li data-role="fieldcontain">
                            <label for="submit_button"></label>
                            <button id="submit_button" type="submit" data-theme="b">
                                Start sharing your experience!
                            </button>
                        </li>
                    </ul>
                </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>